@model dynamic

@{
    ViewBag.Title = "Liste des ressources";
}

<h2>Liste des ressources</h2>
<hr />
<br />

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-4" style="padding:5px">
                @Html.Partial("ListServ")
            </div>

            <div class="col-md-4" style="padding:5px">
                @Html.Partial("ListCont")
            </div>

            <div class="col-md-4" style="padding:5px">
                @Html.Partial("ListEqu")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>


<style>
    .table tbody tr.highlight td {
        background-color: #ddd;
    }
</style>